<% unless @random_products.empty? %>

	<h3>Got <%= @random_products.size %> random product(s).</h3>	
  
  	<table class="products" summary="Products">
		<thead>
			<th>Brand</th>
			<th>Model</th>
			<th>Weight</th>
            <th>Photo</th>
            <th>Price</th>
		</thead>
		<tbody>		
    	<%= render :partial => 'shared/random_product_item', :collection => @random_products %>
		</tbody>		
  	</table>
<% end %>