<tr>
  <td class="order">
    <span class="notes"><%= order.notes %></span>
    <span class="timestamp">
      Created <%= time_ago_in_words(order.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(order.user) %>
  <td>
    <%= link_to "delete", order, :method => :delete,
                                 :confirm => "You sure?",
                                 :title => order.notes %>
  </td>
  <% end %>
</tr>