<table class="front" summary="For signed-in users">
	<tr>
		<td class="main">
			<%= render 'shared/random_products' %>
		</td>
		<% if signed_in? %>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		<% else %>
			<td>
				<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
			</td>
		<% end %>	
	</tr>
</table>
