<p>
    <% if !@category.nil? %>
        <% for category in @category.ancestors %>
            <%= link_to h(category.name), category_products_url(category) %> &gt;
        <% end %>
        <%= @category.name %>
    <% end %>
</p>

<div class="left_bar">
    <% Category.each_with_level(Category.root.self_and_descendants) do |category, level| %>
      <%= link_to h(category.name), category_products_url(category) %>(<%= level %>)<br />
    <% end %>
</div>

